<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">

            <table class="table table-light">
                <thead class="thead-light">
                <tr>

                    <th *ngFor="let item of getYears()">
                        {{item}}
                    </th>

                </tr>
                <tr>
                    <th style="width: 10%;">Name</th>
                    <th style="width: 10%;">Date</th>
                    <th style="overflow: auto" *ngFor="let item of getMonths()">
                        {{item}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of gutt">
                    <td>{{item.name}}</td>
                    <td>
                        {{item.startDate}}
                        <hr>
                        {{item.endDate}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
