<div class="ui-g-12">
  <div class="card card-w-title">
    <h1>Forms</h1>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4">
        <input type="text" placeholder="Name" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4">
        <input type="text" placeholder="Email" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4">
        <input type="text" placeholder="Phone" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4">
        <input type="text" pInputText placeholder="Contact">
      </div>
      <div class="ui-g-12 ui-md-4">
        <span class="md-inputfield">
          <input type="text" pInputText placeholder="Address">
        </span>
      </div>
      <div class="ui-g-12 ui-md-4">
        <input type="text" placeholder="Id" pInputText>
      </div>

      <div class="ui-g-12 ui-md-4">
        <button pButton type="button" label="Save" style="margin-bottom:10px" class="ui-button-primary"></button>
      </div>

    </div>
  </div>
</div>