<div class="card card-w-title">
    <h1>Post</h1>
    <form [formGroup]="postForm" (ngSubmit)="onSave(postForm.value)">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <input type="text" name="name" formControlName="name" placeholder="Name" pInputText>
            </div>
            <div class="ui-g-12 ui-md-4">
                <input type="email" placeholder="Email" formControlName="email" name="email" pInputText>
            </div>
            <div class="ui-g-12 ui-md-4">
                <button pButton type="button" label="Upload" (click)="fileUpload.click()" class="ui-button-primary"></button>
                <input #fileUpload type="file" style="display: none;" (change)="onBasicUploadAuto($event)">
                <img class="img-thumbnail" *ngIf="imagePreview" [src]="imagePreview" [alt]="">

            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-sm-6 ui-md-6">
                <textarea type="text" name="body" formControlName="body" pInputTextarea></textarea>
            </div>
        </div>
        <div class="ui-g-12 ui-md-1">
            <button pButton type="submit" label="Save" style="margin-bottom:10px" class="ui-button-primary"></button>
        </div>
        <pre>
    {{postForm.value|json}}
</pre>
    </form>
</div>